@charset "UTF-8";
@font-face {
  font-family: SuisseIntlBook;
  font-display: swap;
  src: url("../fonts/SuisseIntlBook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-sand: #B49F8C;
  --color-light: #E6E6E6;
  --color-red: #B01E19;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:focus {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
  line-height: 1;
  font-family: "SuisseIntlBook";
  font-size: 1rem;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SuisseIntlBook";
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: unset;
}

body {
  line-height: 1.5;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  overflow: hidden;
}

.js-focus-visible :focus-visible {
  transition: outline 0.1s ease 0s;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  box-sizing: content-box;
  max-width: 85rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header__container {
  position: relative;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 48em) {
  .header__inner {
    align-items: flex-start;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 47.99875em) {
  .logo-header__link > img {
    width: 5.25rem;
    height: 1.5625rem;
  }
}

.actions-header {
  display: flex;
}
@media (min-width: 48em) {
  .actions-header {
    align-items: flex-start;
  }
}
@supports (gap: clamp( 1.875rem , 1.6880841121rem  +  0.9345794393vw , 2.5rem )) {
  .actions-header {
    gap: clamp( 1.875rem , 1.6880841121rem  +  0.9345794393vw , 2.5rem );
  }
}
@supports not (gap: clamp( 1.875rem , 1.6880841121rem  +  0.9345794393vw , 2.5rem )) {
  .actions-header {
    gap: calc(1.875rem + 0.625 * (100vw - 20rem) / 66.875);
  }
}
.actions-header__item {
  position: relative;
  display: flex;
  align-items: center;
}
.actions-header__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 0.0625rem;
  height: 1.5625rem;
  background-color: var(--color-light);
}
@supports (right: clamp( -1.25rem , -0.8440420561rem  +  -0.4672897196vw , -0.9375rem )) {
  .actions-header__item:not(:last-child)::after {
    right: clamp( -1.25rem , -0.8440420561rem  +  -0.4672897196vw , -0.9375rem );
  }
}
@supports not (right: clamp( -1.25rem , -0.8440420561rem  +  -0.4672897196vw , -0.9375rem )) {
  .actions-header__item:not(:last-child)::after {
    right: calc(-0.9375rem + -0.3125 * (100vw - 20rem) / 66.875);
  }
}
.actions-header__item .i-location {
  width: 0.75rem;
  height: 1.5625rem;
}
.actions-header__item .i-location, .actions-header__item .i-search, .actions-header__item .i-pin {
  margin-right: 0.5rem;
}
.actions-header__item .i-star, .actions-header__item .i-compare, .actions-header__item .i-search, .actions-header__item .i-pin {
  width: 1.25rem;
  height: 1.25rem;
}
@media (max-width: 47.99875em) {
  .actions-header__item_location, .actions-header__item_pin, .actions-header__item_services, .actions-header__item_languages {
    display: none;
  }
  .actions-header__item_search span {
    display: none;
  }
}
@media (min-width: 48em) {
  .actions-header__item_burger {
    display: none;
  }
}
.actions-header__link {
  display: flex;
  align-items: center;
}
@media (any-hover: hover) {
  .actions-header__link {
    transition: color 0.3s ease 0s;
  }
  .actions-header__link:hover {
    color: var(--color-sand);
  }
}

.languages-header {
  position: relative;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .languages-header:hover .languages-header__list {
    opacity: 1;
    visibility: visible;
  }
}
.languages-header__list {
  position: absolute;
  top: -0.625rem;
  left: -1.375rem;
  border-radius: 5px;
  padding: 0.5625rem 2rem 0.5625rem 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  background-color: var(--color-light);
}
.body-header {
  position: relative;
}
@supports (margin-top: clamp( 0.0000000625rem , -1.7757008534rem  +  8.8785045794vw , 5.9375rem )) {
  .body-header {
    margin-top: clamp( 0.0000000625rem , -1.7757008534rem  +  8.8785045794vw , 5.9375rem );
  }
}
@supports not (margin-top: clamp( 0.0000000625rem , -1.7757008534rem  +  8.8785045794vw , 5.9375rem )) {
  .body-header {
    margin-top: calc(0.0000000625rem + 5.9374999375 * (100vw - 20rem) / 66.875);
  }
}
.menu-header__list {
  display: flex;
  gap: 1.5625rem;
}
@media (max-width: 61.99875em) {
  .menu-header__list {
    display: none;
  }
}
.menu-header__item .i-santeh, .menu-header__item .i-tile {
  width: 1.5625rem;
  height: 1.5625rem;
}
.menu-header__link {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 5px solid transparent;
  transition: border-bottom 0.3s ease 0s;
}
.menu-header__link:hover {
  border-bottom: 5px solid var(--color-red);
}
.menu-header__link.submenu-active {
  border-bottom: 5px solid var(--color-red);
}
.submenu {
  position: absolute;
  top: 2.8125rem;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-top: 1px solid var(--color-light);
  background-color: var(--color-white);
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}
.submenu.submenu-open {
  opacity: 1;
  visibility: visible;
}
.submenu .i-arrow-right {
  width: 0.9375rem;
  height: 1.5625rem;
  margin-right: 0.3125rem;
  transition: margin-right 0.3s ease 0s;
}
.submenu__list {
  max-width: 20.375rem;
  padding-right: 1.25rem;
}
.submenu__item {
  display: flex;
}
.submenu__item:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.submenu__link {
  display: flex;
  align-items: center;
}
@media (any-hover: hover) {
  .submenu__link {
    transition: color 0.3s ease 0s;
  }
  .submenu__link:hover {
    color: var(--color-sand);
  }
}
.submenu__link.sub-submenu-active .i-arrow-right {
  margin-right: 2.5rem;
}
.sub-submenu {
  position: absolute;
  top: 2.5rem;
  left: 21.625rem;
  right: 0;
  opacity: 0;
  visibility: hidden;
  min-height: 16.875rem;
  padding-left: 1.25rem;
  border-left: 1px solid var(--color-black);
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}
.sub-submenu.sub-submenu-open {
  opacity: 1;
  visibility: visible;
}
.sub-submenu__list {
  max-width: 13.125rem;
}
.sub-submenu__item:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (any-hover: hover) {
  .sub-submenu__link {
    transition: color 0.3s ease 0s;
  }
  .sub-submenu__link + .sub-submenu__content {
    transition: opacity 0.9s ease 0s, visibility 0.9s ease 0s;
  }
  .sub-submenu__link:hover {
    color: var(--color-sand);
  }
  .sub-submenu__link:hover + .sub-submenu__content {
    opacity: 1;
    visibility: visible;
  }
}
.sub-submenu__content {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 66%;
  height: 20.625rem;
  padding: 1.25rem;
  color: var(--color-white);
}
.sub-submenu__content-title {
  flex: 1 1 auto;
  font-size: 2.8125rem;
  max-width: 29.75rem;
  line-height: 1.1111111111;
}
.sub-submenu__content-text {
  max-width: 16.0625rem;
}

.i-arrow-dropdown {
  width: 0.75rem;
  height: 0.625rem;
  margin-left: 0.3125rem;
}

.burger {
  display: none;
}
@media (max-width: 47.99875em) {
  .burger {
    display: block;
    position: relative;
    width: 1.4375rem;
    height: 0.625rem;
    cursor: pointer;
    z-index: 5;
  }
  .burger span, .burger::before, .burger::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    border-radius: 50%;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .burger span {
    width: 0;
  }
  .menu-open .burger::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .burger::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.menu-open .menu-mobile {
  transform: translateX(0);
}

.submenu-open .submenu-mobile {
  transform: translateX(0);
}

.menu-mobile, .submenu-mobile {
  transition: transform 0.5s ease 0s;
  transform: translateX(-100%);
}

@media (max-width: 47.99875em) {
  .menu-mobile {
    position: absolute;
    top: 6.25rem;
    left: 0;
    z-index: 5;
    background-color: var(--color-white);
    width: 100%;
    height: 100vh;
    padding-bottom: 7.5rem;
    font-size: 0.9375rem;
    overflow: auto;
  }
  .menu-mobile__inner, .menu-mobile__body {
    padding-top: 1.25rem;
    margin-bottom: 3.75rem;
    border-top: 1px solid var(--color-black);
  }
  .menu-mobile__footer {
    padding-top: 1.25rem;
    border-top: 1px solid var(--color-black);
  }

  .inner-mobile {
    display: flex;
    justify-content: center;
  }
  .inner-mobile__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.25rem;
  }
  .inner-mobile__img {
    width: 100%;
  }
  .inner-mobile__title {
    margin-top: 0.625rem;
  }
  .submenu-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    background-color: var(--color-white);
  }
  .submenu-mobile__back {
    display: flex;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    width: 100%;
  }
  .submenu-mobile__back .i-arrow-right {
    width: 0.75rem;
    height: 1.25rem;
    margin-right: 1.25rem;
    transform: rotate(180deg);
  }
  .submenu-mobile__list {
    padding-top: 1.25rem;
  }
  .submenu-mobile__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .submenu-mobile__link {
    display: block;
    width: 100%;
  }

  .body-mobile__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .body-mobile__item .i-arrow-right {
    width: 0.75rem;
    height: 1.5625rem;
  }
  .body-mobile__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .body-mobile__link {
    display: block;
    width: 100%;
  }

  .footer-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  .footer-mobile .i-arrow-down {
    width: 1.25rem;
    height: 0.9375rem;
  }
}
