.header {
  // .header__container
  &__container {
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
  // .header__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-up(tablet){
      align-items: flex-start;
    }
  }
  // .header__body
  &__body {
    display: flex;
    justify-content: space-between;
  }
}
.inner-header {
  // .inner-header__logo
  &__logo {
  }
  // .inner-header__actions
  &__actions {
  }
}
.logo-header {
  // .logo-header__link
  &__link {
    @include media-breakpoint-down(tablet){
      &> img{
        width: rem(84);
        height: rem(25);
      }
    }
  }
}
.actions-header {
  display: flex;
  @include media-breakpoint-up(tablet){
    align-items: flex-start;
  }
  @include adaptiveValue("gap", 40, 30);
  // .actions-header__item
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      &::after{
        content:'';
        position: absolute;
        top: 0;
        @include adaptiveValue("right", -20, -15);
        display: block;
        width: rem(1);
        height: rem(25);
        background-color: var(--color-light);
      }
    }
    .i-location {
      width: rem(12);
      height: rem(25);
    }
    .i-location, .i-search, .i-pin{
      margin-right: rem(8);
    }
    .i-star,.i-compare, .i-search,.i-pin {
      width: rem(20);
      height: rem(20);
    }
    @include media-breakpoint-down(tablet){
      &_location, &_pin, &_services, &_languages{
        display: none;
      }
      &_search{
        span{
          display: none;
        }
      }
    }
    @include media-breakpoint-up(tablet){
      &_burger{
        display: none;
      }
    }
  }
  // .actions-header__link
  &__link {
    display: flex;
    align-items: center;
    @media (any-hover: hover){
      transition: color .3s ease 0s;
      &:hover{
        color: var(--color-sand);
      }
    }
  }
}



.languages-header {
  position: relative;
  text-transform: uppercase;
  @media (any-hover: hover){
    &:hover{
      .languages-header__list{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .languages-header__lang
  &__lang {
  }
  // .languages-header__arrow
  &__arrow {
  }
  // .languages-header__list
  &__list {
    position: absolute;
    top: rem(-10);
    left: rem(-22);
    border-radius: 5px;
    padding: rem(9) rem(32) rem(9) rem(16);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease 0s, visibility .3s ease 0s;
    background-color: var(--color-light);
  }
  // .languages-header__item
  &__item {
  }
}
.body-header {
  position: relative;
  @include adaptiveValue("margin-top", 95, 0);
  // .body-header__menu
  &__menu {
  }
  &__actions{
  }
}
.menu-header {
  // .menu-header__list
  &__list {
    display: flex;
    gap: rem(25);
    @include media-breakpoint-down(tablet-xl){
      display: none;
    }
  }
  // .menu-header__item
  &__item {
    .i-santeh,.i-tile {
      width: rem(25);
      height: rem(25);
    }
  }
  // .menu-header__link
  &__link {
    display: flex;
    align-items: center;
    padding-bottom: rem(16);
    border-bottom: 5px solid transparent;
    transition: border-bottom .3s ease 0s;
    &:hover{
      border-bottom: 5px solid var(--color-red);
    }
    &.submenu-active{
      border-bottom: 5px solid var(--color-red);
    }
  }
  &__submenu{}
}

.submenu{
  position: absolute;
  top: rem(45);
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  padding-top: rem(40);
  padding-bottom: rem(40);
  border-top: 1px solid var(--color-light);
  background-color: var(--color-white);
  transition: opacity .3s ease 0s,visibility .3s ease 0s;
  &.submenu-open{
    opacity: 1;
    visibility: visible;
  }
  .i-arrow-right{
    width: rem(15);
    height: rem(25);
    margin-right: rem(5);
    transition: margin-right .3s ease 0s;
  }
  &__list{
    max-width: rem(326);
    padding-right: rem(20);
  }
  &__item{
    display: flex;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }
  &__link{
    display: flex;
    align-items: center;
    @media (any-hover: hover){
      transition: color .3s ease 0s;
      &:hover{
        color: var(--color-sand);
      }
    }
    &.sub-submenu-active{
      .i-arrow-right{
        margin-right: rem(40);
      }
    }
  }
  &__sub-submenu{}
}

.sub-submenu{
  position: absolute;
  top: rem(40);
  left: rem(346);
  right: 0;
  opacity: 0;
  visibility: hidden;
  min-height: rem(270);
  padding-left: rem(20);
  border-left: 1px solid var(--color-black);
  transition: opacity .3s ease 0s,visibility .3s ease 0s;
  &.sub-submenu-open{
    opacity: 1;
    visibility: visible;
  }
  &__list{
    max-width: rem(210);
  }
  &__item{
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }
  &__link{
    @media (any-hover: hover){
      transition: color .3s ease 0s;
      & + .sub-submenu__content{
        transition: opacity .9s ease 0s,visibility .9s ease 0s;
      }
      &:hover{
        & + .sub-submenu__content{
          opacity: 1;
          visibility: visible;
        }
        color: var(--color-sand);
      }
    }
  }
  &__content{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 66%;
    height: rem(330);
    padding: rem(20);
    color: var(--color-white);
    &-title{
      flex: 1 1 auto;
      font-size: rem(45);
      max-width: rem(476);
      line-height: math.div(50, 45);
    }
    &-text{
      max-width: rem(257);
    }
  }
}
.i-arrow-dropdown {
  width: rem(12);
  height: rem(10);
  margin-left: rem(5);
}
.i-tile {
}
.i-search {
}
.i-pin {
}


//Burger

.burger {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(23);
    height: rem(10);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
      border-radius: 50%;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

